<section class="pt-[75px] bg-[#251928] pb-[58px]">
    <div class="container px-4 mx-auto">
        <div class="flex justify-center">
            <div
                class="text-white-100 z-10 text-4xl font-oxanium font-bold relative text-center after:absolute after:-left-6 after:top-1/2 after:-translate-y-1/2 after:w-[84px] after:h-[84px] after:rounded-[50px] after:bg-[#8613A5] after:z-[-1]"
            >
                Live Auctions
            </div>
        </div>
        <div class="grid grid-cols-1 gap-12 mt-[68px] md:grid-cols-2">
            {{> event-card/mob-event-card }} {{> event-card/mob-event-card1 }} {{> event-card/mob-event-card2
            }}
        </div>
        <div class="flex justify-center items-center mt-[48px]">
            <button
                class="py-[13px] px-[57px] leading-[35px] ring-1 min-w-[187px] ring-insert ring-primary text-white-100 font-semibold text-lg bg-transparent hover:ring-hover hover:bg-primary/20 transition-colors"
            >
                View All
            </button>
        </div>
    </div>
</section>
