/* document style */
html,
body,
*:after,
*:before,
* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
html,
body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}
