<section class="px-4 pt-[51px] md:pt-[120px]">
    <div class="container mx-auto">
        <div class="flex justify-between items-center max-w-[430px] mx-auto">
            <div class="flex flex-col gap-2 items-center">
                <div class="text-white-100 font-oxanium text-4xl font-bold">32k+</div>
                <div class="text-[#9B9E9A] text-base">Artworks</div>
            </div>
            <div class="flex flex-col gap-2">
                <div class="text-white-100 font-oxanium text-4xl font-bold">20k+</div>
                <div class="text-[#9B9E9A] text-base">Auctions</div>
            </div>
            <div class="flex flex-col gap-2">
                <div class="text-white-100 font-oxanium text-4xl font-bold">12k+</div>
                <div class="text-[#9B9E9A] text-base">Creators</div>
            </div>
        </div>
    </div>
</section>
