<footer class="footer pt-[57px] xl:pt-[108px] xl:pb-[116px]">
    <div class="container px-4 mx-auto xl:w-[1440px]">
        <div class="xl:flex justify-between xl:items-start xl:gap-[200px]">
            <div class="xl:flex xl:gap-[51px] justify-start xl:items-start xl:flex-shrink-0">
                <div class="flex justify-center items-center xl:pt-[7px]">
                    <img
                        class="w-[112px] h-[112px] xl:w-[194px] xl:h-[194px]"
                        src="../../static/img/content/mob-logo.png"
                        alt=""
                    />
                </div>
                <div class="hidden xl:flex xl:flex-col xl:gap-[52px] xl:pt-[11px]">
                    <div>{{> footer/text}}</div>
                    <div>{{> footer/social-list }}</div>
                    <div>{{> footer/copyr}}</div>
                </div>
            </div>
            <div class="mt-[51px] xl:hidden">{{> footer/text}}</div>
            <div class="mt-11 xl:mt-0 grow xl:pr-[99px]">{{> footer/menu }}</div>
            <div class="mt-5 xl:hidden">{{> footer/social-list }}</div>
        </div>
        <div class="mt-[7px] mb-[11px] xl:hidden">{{> footer/copyr}}</div>
    </div>
</footer>
