<footer class="footer pt-[57px]">
    <div class="container px-4 mx-auto">
        <div class="flex justify-center items-center">
            <img src="../../static/img/content/mob-logo.png" alt="" />
        </div>
        <div class="mt-[51px] text-[#96839B] text-center text-lg font-medium leading-9">
            Nec, enim sed lacus, magna pharetra. Phasellus tincidunt nulla pharetra gravida est.
        </div>
        <div class="mt-11 flex gap-[76px]">
            <div>
                <div class="text-white-100 text-2xl font-bold leading-9">About Us</div>
                <ul class="mt-[18px]">
                    <li>
                        <a href="" class="text-[#96839B] text-lg font-medium leading-[50.5px]">About NFTs</a>
                    </li>
                    <li>
                        <a href="" class="text-[#96839B] text-lg font-medium leading-[50.5px]">Live</a>
                    </li>
                    <li>
                        <a href="" class="text-[#96839B] text-lg font-medium leading-[50.5px]">Auctions</a>
                    </li>
                    <li>
                        <a href="" class="text-[#96839B] text-lg font-medium leading-[50.5px]">NFT Blog</a>
                    </li>
                    <li>
                        <a href="" class="text-[#96839B] text-lg font-medium leading-[50.5px]">Activity</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="text-white-100 text-2xl font-bold leading-9">Support</div>
                <ul class="mt-[18px]">
                    <li>
                        <a href="" class="text-[#96839B] text-lg font-medium leading-[50.5px]">
                            Help & Support
                        </a>
                    </li>
                    <li>
                        <a href="" class="text-[#96839B] text-lg font-medium leading-[50.5px]"
                            >Item Details</a
                        >
                    </li>
                    <li>
                        <a href="" class="text-[#96839B] text-lg font-medium leading-[50.5px]"
                            >Author Profile</a
                        >
                    </li>
                    <li>
                        <a href="" class="text-[#96839B] text-lg font-medium leading-[50.5px]">Collection</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-5">
            <ul class="flex gap-10 justify-center items-center">
                <li><a href="">{{Icon iconName='youtube' }}</a></li>
                <li><a href="">{{Icon iconName='twitter' }}</a></li>
                <li><a href="">{{Icon iconName='fasebook' }}</a></li>
                <li><a href="">{{Icon iconName='google' }}</a></li>
            </ul>
        </div>
        <div class="mt-[7px] mb-[11px] text-[#96839B] text-xl leading-9 text-center">
            All rights reserved@2021
        </div>
    </div>
</footer>
