<div class="flex gap-[76px] md:text-center xl:text-left xl:grow xl:justify-between">
    <div class="md:w-1/2 xl:w-auto">
        <div class="text-white-100 text-2xl font-bold leading-9">About Us</div>
        <ul class="mt-[18px] xl:flex xl:flex-col xl:gap-4">
            <li>
                <a href="" class="text-[#96839B] text-lg xl:text-xl font-medium leading-[50.5px]"
                    >About NFTs</a
                >
            </li>
            <li>
                <a href="" class="text-[#96839B] text-lg xl:text-xl font-medium leading-[50.5px]">Live</a>
            </li>
            <li>
                <a href="" class="text-[#96839B] text-lg xl:text-xl font-medium leading-[50.5px]">Auctions</a>
            </li>
            <li>
                <a href="" class="text-[#96839B] text-lg xl:text-xl font-medium leading-[50.5px]">NFT Blog</a>
            </li>
            <li>
                <a href="" class="text-[#96839B] text-lg xl:text-xl font-medium leading-[50.5px]">Activity</a>
            </li>
        </ul>
    </div>
    <div class="md:w-1/2 xl:w-auto">
        <div class="text-white-100 text-2xl font-bold leading-9">Support</div>
        <ul class="mt-[18px] xl:flex xl:flex-col xl:gap-4">
            <li>
                <a href="" class="text-[#96839B] text-lg xl:text-xl font-medium leading-[50.5px]">
                    Help & Support
                </a>
            </li>
            <li>
                <a href="" class="text-[#96839B] text-lg xl:text-xl font-medium leading-[50.5px]"
                    >Item Details</a
                >
            </li>
            <li>
                <a href="" class="text-[#96839B] text-lg xl:text-xl font-medium leading-[50.5px]"
                    >Author Profile</a
                >
            </li>
            <li>
                <a href="" class="text-[#96839B] text-lg xl:text-xl font-medium leading-[50.5px]"
                    >Collection</a
                >
            </li>
        </ul>
    </div>
</div>
