<div class="bg-event p-5 xl:p-9 flex flex-col gap-4 xl:gap-6 hover:opacity-75 swiper-slide xl:w-[525px]">
    <div class="overflow-hidden h-[178px] xl:h-[272px] flex justify-center items-center">
        <img class="min-w-full h-auto" src="../../static/img/content/two-fase.jpg" alt="" />
    </div>
    <div class="flex justify-between items-center gap-4">
        <div class="flex gap-3 xl:gap-4 items-center min-w-0">
            <div
                class="rounded-full w-[42px] h-[42px] xl:w-[64px] xl:h-[64px] shrink-0 overflow-hidden flex items-center justify-center"
            >
                <img
                    class="min-h-full h-full max-w-none"
                    src="../../static/img/content/profile-two.jpg"
                    alt=""
                />
            </div>
            <div
                class="text-white-100 text-xl xl:text-[32px] font-semibold xl:font-medium xl:leading-9 truncate"
            >
                @wzard
            </div>
        </div>
        <div class="text-[#C2B5C6] text-base xl:text-xl font-semibold xl:leading-[35.4px] shrink-0">
            ERC-721
        </div>
    </div>
</div>
