<div class="bg-event p-5 flex flex-col gap-4 hover:opacity-75">
    <div class="overflow-hidden h-[178px] flex justify-center items-center">
        <img class="min-w-full h-auto" src="../../static/img/content/mob-two-fase.jpg" alt="" />
    </div>
    <div class="flex justify-between items-center gap-4">
        <div class="flex gap-3 items-center min-w-0">
            <div
                class="rounded-full w-[42px] h-[42px] shrink-0 overflow-hidden flex items-center justify-center"
            >
                <img
                    class="min-h-full h-full max-w-none"
                    src="../../static/img/content/profile-two.jpg"
                    alt=""
                />
            </div>
            <div class="text-white-100 text-xl font-semibold truncate">@wzard</div>
        </div>
        <div class="text-[#C2B5C6] text-base font-semibold shrink-0">ERC-721</div>
    </div>
</div>
