<div class="bg-event p-9 flex flex-col gap-6 hover:opacity-75">
    <div class="overflow-hidden h-[272px] flex justify-center items-center">
        <img class="min-h-full w-auto max-w-none" src="https://placehold.co/453x270" alt="" />
    </div>
    <div class="flex justify-between items-center gap-4">
        <div class="flex gap-4 items-center min-w-0">
            <div
                class="bg-[#EF5A39] rounded-full w-9 h-9 shrink-0 overflow-hidden flex items-center justify-center"
            >
                <img class="min-h-full h-full max-w-none" src="https://placehold.co/453x270" alt="" />
            </div>
            <div class="text-white-100 text-[32px] font-medium truncate">
                @wzardwzardwzardwzardwzardwzardwzardwzard
            </div>
        </div>
        <div class="text-[#C2B5C6] text-xl font-semibold shrink-0">ERC-721</div>
    </div>
</div>
