<div class="bg-event mt-1 p-9 flex flex-col gap-6 hover:opacity-75">
    <div class="overflow-hidden h-[272px] flex justify-center items-center">
        <img class="min-h-full w-auto max-w-none" src="../../static/img/content/two-fase.jpg" alt="" />
    </div>
    <div class="flex justify-between items-center">
        <div class="flex gap-4 items-center">
            <div
                class="bg-[#EF5A39] rounded-full w-9 h-9 shrink-0 overflow-hidden flex items-center justify-center"
            >
                <img
                    class="min-h-full h-full max-w-none"
                    src="../../static/img/content/profile-two.jpg"
                    alt=""
                />
            </div>
            <div class="text-white-100 text-[32px] font-medium">@wzard</div>
        </div>
        <div class="text-[#C2B5C6] text-xl font-semibold">ERC-721</div>
    </div>
</div>
