<section class="pt-[80px] py-[55px]">
    <div class="container px-4 mx-auto">
        <div class="flex flex-col justify-center items-center">
            <div class="text-white-100 font-oxanium text-center text-4xl font-bold">How it works</div>
            <ul class="pt-[52px] grid grid-cols-1 gap-7">
                <li class="flex flex-col items-center justify-center gap-6">
                    <div class="w-[72px] h-[72px] rounded-full bg-[#372839] flex justify-center items-center">
                        {{Icon iconName='wallet' }}
                    </div>
                    <div class="text-primary text-2xl font-semibold capitalize">Set up your wallet</div>
                    <div class="flex justify-center">{{Icon iconName='arrow-down' }}</div>
                </li>
                <li class="flex flex-col items-center justify-center gap-6">
                    <div class="w-[72px] h-[72px] rounded-full bg-[#372839] flex justify-center items-center">
                        {{Icon iconName='collection' }}
                    </div>
                    <div class="text-primary text-2xl font-semibold capitalize">Create your collection</div>
                    <div class="flex justify-center">{{Icon iconName='arrow-down' }}</div>
                </li>
                <li class="flex flex-col items-center justify-center gap-6">
                    <div class="w-[72px] h-[72px] rounded-full bg-[#372839] flex justify-center items-center">
                        {{Icon iconName='add' }}
                    </div>
                    <div class="text-primary text-2xl font-semibold capitalize">Add your NFTs</div>
                    <div class="flex justify-center">{{Icon iconName='arrow-down' }}</div>
                </li>
                <li class="flex flex-col items-center justify-center gap-6">
                    <div class="w-[72px] h-[72px] rounded-full bg-[#372839] flex justify-center items-center">
                        {{Icon iconName='sales' }}
                    </div>
                    <div class="text-primary text-2xl font-semibold capitalize">List them for sale</div>
                </li>
            </ul>
        </div>
    </div>
</section>
