<div class="relative px-4 py-[52px] bg-[url('../../static/img/content/patern.jpg')] w-full h-auto">
    <div class="font-oxanium font-bold text-[42px] leading-[63px] text-center text-white-100">
        Explore, Buy and Sell the
        <span class="font-oxanium font-bold text-[42px] leading-[63px] text-center text-primary"
            >Best NFTs!</span
        >
    </div>
    <div class="flex gap-5 absolute -bottom-[23px]">
        <button
            class="flex justify-center items-center py-4 px-10 tracking-[0.9px] ring-1 max-w-[155px] ring-insert ring-primary text-black font-semibold text-[18px] bg-primary hover:bg-hover transition-colors"
        >
            Explore
        </button>
        <button
            class="flex justify-center items-center py-4 px-10 tracking-[0.9px] ring-1 max-w-[155px] ring-insert ring-primary text-white-100 font-semibold text-[18px] bg-primary/20 hover:ring-hover hover:bg-primary/20 transition-colors"
        >
            Create
        </button>
    </div>
</div>
