<section class="xl:mt-[-103px] xl:pt-[274px] overflow-hidden pt-[52px] pb-[83px]">
    <div
        class="relative bg-[url('../../static/img/content/patern.jpg')] w-full h-auto after:bg-gradient-to-b after:from-[#1C121F] after:to-[#1c121f36] after:inset-0 after:absolute md:bg-none xl:flex xl:gap-10 xl:items-center"
    >
        <div class="container px-4 mx-auto relative z-10">
            <div
                class="font-oxanium font-bold text-[42px] md:text-[65px] xl:text-[85px] leading-[63px] md:leading-[93px] xl:leading-[130px] text-center text-white-100 md:text-center xl:text-start xl:max-w-[710px]"
            >
                Explore, Buy and Sell the
                <span class="text-primary">Best NFTs!</span>
            </div>
            <div
                class="flex gap-5 md:gap-12 justify-center absolute md:static -bottom-[25px] inset-x-0 md:mt-[77px] xl:justify-start"
            >
                <button
                    class="flex justify-center items-center py-3.5 md:py-6 px-10 md:px-[76px] tracking-[0.9px] md:tracking-normal ring-1 ring-insert ring-primary text-black font-semibold text-lg md:text-[28px] md:leading-9 bg-primary hover:bg-hover transition-colors"
                >
                    Explore
                </button>
                <button
                    class="flex justify-center items-center py-3.5 md:py-6 px-10 md:px-[76px] tracking-[0.9px] md:tracking-normal ring-1 ring-insert ring-primary text-white-100 font-semibold text-lg md:text-[28px] md:leading-9 bg-[#594846] hover:ring-hover hover:bg-primary/50 transition-colors"
                >
                    Create
                </button>
            </div>
            <div>{{> numbers/numbers }}</div>
            <div
                class="hidden xl:flex pl-[60px] pb-[100px] pr-[150px] pt-[240px] absolute top-[-274px] right-0 z-10 after:absolute after:inset-y-0 after:left-0 after:right-[-10000px] after:bg-blur/30 after:z-[-1]"
            >
                {{> card-block/card-block }}
            </div>
        </div>
    </div>
</section>
