<header class="header pt-9">
    <div class="container px-4 mx-auto flex justify-between items-center">
        <div>
            <img src="../../static/img/content/logo.png" alt="" />
        </div>
        <nav>
            <ul class="md:flex md:gap-16 md:justify-between md:items-center">
                <li
                    class="md:text-white-100 md:text-lg md:font-medium md:tracking-[0.36px] md:hover:text-primary md:hover:border-b-2 md:hover:border-primary"
                >
                    <a href="">Explore</a>
                </li>
                <li
                    class="md:text-white-100 md:text-lg md:font-medium md:tracking-[0.36px] md:hover:text-primary md:hover:border-b-2 md:hover:border-primary"
                >
                    <a href="">Creators</a>
                </li>
                <li
                    class="md:text-white-100 md:text-lg md:font-medium md:tracking-[0.36px] md:hover:text-primary md:hover:border-b-2 md:hover:border-primary"
                >
                    <a href="">Community</a>
                </li>
            </ul>
        </nav>
        <button
            class="md:flex md:justify-center md:items-center md:py-5 md:px-7 md:leading-normal md:ring-1 md:w-[195px] md:ring-insert md:ring-primary md:text-primary md:font-semibold md:text-lg md:bg-primary/10 md:hover:ring-hover md:hover:bg-primary/20 md:transition-colors"
        >
            Connect Wallet
        </button>
        <div class="w-8 h-8 flex items-center justify-center flex-col gap-1 md:hidden">
            <div class="w-3/4 h-1 bg-primary"></div>
            <div class="w-3/4 h-1 bg-primary"></div>
            <div class="w-3/4 h-1 bg-primary"></div>
        </div>
    </div>
</header>
