<button
    class="flex justify-center items-center py-6 px-10 leading-[35px] ring-1 min-w-[260px] ring-insert ring-primary text-black font-semibold text-[28px] bg-primary hover:bg-hover transition-colors"
>
    Explore
</button>
<button
    class="flex justify-center items-center py-6 px-10 leading-[35px] ring-1 min-w-[260px] ring-insert ring-primary text-black font-semibold text-[28px] bg-primary/10 hover:ring-hover hover:bg-primary/20 transition-colors"
>
    Create
</button>
<button
    class="flex justify-center items-center py-6 px-10 leading-[35px] ring-1 min-w-[260px] ring-insert ring-primary text-black font-semibold text-[28px] bg-primary hover:bg-hover transition-colors"
>
    Explore
</button>
<button
    class="flex justify-center items-center py-6 px-10 leading-[35px] ring-1 min-w-[260px] ring-insert ring-primary text-black font-semibold text-[28px] bg-primary/10 hover:ring-hover hover:bg-primary/20 transition-colors"
>
    Create
</button>
<button
    class="flex justify-center items-center py-6 px-10 leading-[35px] ring-1 min-w-[260px] ring-insert ring-primary text-black font-medium text-[28px] bg-transparent hover:ring-hover hover:bg-primary/20 transition-colors"
>
    View All
</button>
