<section class="pt-[18px] pb-[74px] bg-[url('../../static/img/content/form-back.jpg')] bg-no-repeat bg-auto">
    <div class="container px-4 mx-auto">
        <div class="text-white-100 font-bold text-4xl font-oxanium text-center leading-normal">
            Ready for Next <br />
            NFT Drop?
        </div>
        <form action="" class="mt-6 flex flex-col justify-center items-center gap-8">
            <div class="w-full">
                <input
                    type="email"
                    placeholder="info@gmail.com"
                    class="bg-transparent border w-full border-primary h-16 px-8 placeholder:text-[#A48EA9] placeholder:text-lg text-white-100 text-lg leading-6 hover:border-hover outline-none"
                />
            </div>
            <button
                type="submit"
                class="py-[10px] px-[35px] text-2xl leading-[35px] ring-1 min-w-[187px] ring-insert ring-primary text-[#251928] font-semibold bg-btn hover:ring-hover hover:bg-primary/20 transition-colors"
            >
                Subscribe
            </button>
        </form>
    </div>
</section>
