<section
    class="pt-[18px] pb-[74px] xl:py-[117px] bg-[url('../../static/img/content/form-back.jpg')] xl:bg-[url('../../static/img/content/patern.jpg')] bg-no-repeat bg-auto xl:bg-cover"
>
    <div class="container px-4 mx-auto">
        <div
            class="text-white-100 font-bold text-4xl xl:text-[64px] font-oxanium text-center leading-normal xl:leading-[130px]"
        >
            Ready for Next <br />
            NFT Drop?
        </div>
        <form
            action=""
            class="mt-6 flex flex-col justify-center items-center gap-8 xl:max-w-[680px] xl:mx-auto xl:flex-row xl:gap-0"
        >
            <div class="w-full">
                <input
                    type="email"
                    placeholder="info@gmail.com"
                    class="bg-transparent border w-full ring-insert ring-primary h-16 px-8 placeholder:text-[#A48EA9] placeholder:text-lg text-white-100 text-lg leading-6 hover:border-hover outline-none xl:h-[96px]"
                />
            </div>
            <button
                type="submit"
                class="py-[10px] xl:pt-8 xl:pb-7 xl:px-[63px] px-[35px] text-2xl leading-[35px] ring-1 min-w-[187px] xl:w-[244px] xl:h-[96px] ring-insert ring-primary text-[#251928] font-semibold xl:font-bold bg-btn hover:ring-hover hover:bg-primary/20 transition-colors xl:flex xl:justify-center xl:items-center"
            >
                Subscribe
            </button>
        </form>
    </div>
</section>
