<section class="bg-blur/30 md:w-full md:h-auto pt-[76px] pb-[43px]">
    <div class="container px-4 mx-auto">
        <div class="flex justify-center items-center flex-col">
            <div class="w-[290px] h-[300px] relative md:w-[390px] md:h-[400px] xl:w-[558px] xl:h-[576px]">
                <div class="flex justify-center items-center">
                    <img class="w-full" src="../../static/img/content/hero.jpg" alt="" />
                </div>
                <div
                    class="absolute top-[27px] left-[17px] right-[18px] bg-gradient bg-opacity-95 flex justify-between py-[10px] pl-[22px] pr-[15px] rounded-[5px]"
                >
                    <div class="flex flex-col gap-[3px]">
                        <div
                            class="text-[#E4DEE7] font-oxanium font-medium text-base tracking-[1.28px] capitalize"
                        >
                            Current bid
                        </div>
                        <div class="text-white font-oxanium text-[22px] font-bold">0.99 ETH</div>
                    </div>
                    <div class="flex flex-col gap-[3px]">
                        <div
                            class="text-[#E4DEE7] font-oxanium font-medium text-base tracking-[1.28px] capitalize"
                        >
                            Ends in
                        </div>
                        <div class="text-white font-oxanium text-[22px] font-bold">25 hrs</div>
                    </div>
                </div>
            </div>
            <div
                class="bg-white w-[290px] md:w-[390px] h-[82px] xl:w-[558px] xl:h-[142px] flex justify-center items-center gap-9 md:gap-10 pt-4 pb-[19px]"
            >
                <div class="md:flex md:justify-between md:gap-10 items-center">
                    <div class="text-[#16091B] font-oxanium text-lg font-semibold md:text-xl">Artist</div>
                    <div class="text-[#594D5E] text-sm md:text-lg">@wzard</div>
                </div>
                <div>
                    <button
                        class="flex justify-center items-center py-2 px-6 ring-1 min-w-[121px] ring-insert ring-primary text-black font-semibold text-base bg-primary hover:bg-hover transition-colors"
                    >
                        Start Bid
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
