<section class="pt-[100px] pb-[74px] bg-[#251928] xl:py-[80px]">
    <div class="container px-4 mx-auto">
        <div class="flex justify-center">
            <div
                class="text-white-100 z-10 text-4xl xl:text-[64px] font-oxanium font-bold relative text-center after:absolute after:left-[15px] after:top-[-28px] after:w-[84px] after:h-[84px] xl:after:w-[110px] xl:after:h-[110px] after:rounded-[50px] after:bg-[#8613A5] after:z-[-1] leading-[1.38]"
            >
                Explore <br />
                By Categories
            </div>
        </div>
        <div class="grid grid-cols-1 gap-6 mt-[54px] xl:mt-[84px] md:grid-cols-2 xl:grid-cols-4">
            {{> card/mob-card }} {{> card/mob-card1 }} {{> card/mob-card2 }} {{> card/mob-card1 }}
        </div>
        <div class="pt-[48px] xl:pt-[84px] flex justify-center items-center">
            <button
                class="py-[13px] xl:py-6 px-[57px] xl:px-[65px] leading-[35px] ring-1 min-w-[187px] xl:min-w-[257px] ring-insert ring-primary text-white-100 font-semibold xl:font-medium text-lg xl:text-3xl bg-transparent hover:ring-hover hover:bg-primary/20 transition-colors xl:tracking-[1.5px]"
            >
                View All
            </button>
        </div>
    </div>
</section>
