<section class="pt-[74px] pb-[92px]">
    <div class="container px-4 mx-auto">
        <div
            class="px-[36px] grid grid-cols-2 gap-2 gap-y-[46px] items-center md:gap-y-[60px] md:justify-center"
        >
            <div class="md:flex md:justify-center">{{Icon iconName='coinbase-mob' }}</div>
            <div class="md:flex md:justify-center">{{Icon iconName='blockchain-mob' }}</div>
            <div class="md:flex md:justify-center">{{Icon iconName='binance-mob' }}</div>
            <div class="md:flex md:justify-center">{{Icon iconName='bitmex-mob' }}</div>
        </div>
    </div>
</section>
