<section class="pt-[74px] pb-[92px] xl:pt-[195px] xl:pb-[104px]">
    <div class="container px-4 mx-auto">
        <div
            class="px-[36px] grid grid-cols-2 xl:grid-cols-4 gap-2 xl:gap-[132px] gap-y-[46px] xl:gap-y-0 items-center md:gap-y-[60px] md:justify-center xl:justify-between"
        >
            <div class="md:flex md:justify-center">{{Icon iconName='coinbase-mob' }}</div>
            <div class="md:flex md:justify-center">{{Icon iconName='blockchain-mob' }}</div>
            <div class="md:flex md:justify-center">{{Icon iconName='binance-mob' }}</div>
            <div class="md:flex md:justify-center">{{Icon iconName='bitmex-mob' }}</div>
        </div>
    </div>
</section>
