<section
    class="pb-[56px] xl:pb-[80px] pt-[79px] xl:pt-[104px] bg-[url('../../static/img/content/creators-backg.jpg')] xl:bg-none bg-auto bg-no-repeat"
>
    <div class="container px-4 mx-auto">
        <div class="flex justify-center">
            <div
                class="text-white-100 z-10 text-4xl xl:text-[64px] font-oxanium font-bold relative text-center after:absolute after:-left-6 xl:after:-left-9 after:top-1/2 after:-translate-y-1/2 after:w-[84px] after:h-[84px] xl:after:w-[110px] xl:after:h-[110px] after:rounded-[50px] xl:after:rounded-[60px] after:bg-[#E03054] after:z-[-1] xl:leading-[130px]"
            >
                Top Creators
            </div>
        </div>
        <div class="mt-[70px] grid grid-cols-1 gap-6 md:grid-cols-2">
            {{> profile-card/mob-profile-card}} {{> profile-card/mob-profile-card1}} {{>
            profile-card/mob-profile-card2}} {{> profile-card/mob-profile-card3}}
        </div>
        <div class="pt-[48px] xl:pt-[80px] flex justify-center items-center">
            <button
                class="py-[13px] xl:py-6 px-[57px] xl:px-[65px] leading-[35px] ring-1 min-w-[187px] xl:min-w-[257px] ring-insert ring-primary text-white-100 font-semibold xl:font-medium text-lg xl:text-3xl bg-transparent hover:ring-hover hover:bg-primary/20 transition-colors xl:tracking-[1.5px]"
            >
                View All
            </button>
        </div>
    </div>
</section>
