<section
    class="pb-[56px] pt-[79px] bg-[url('../../static/img/content/creators-backg.jpg')] bg-auto bg-no-repeat"
>
    <div class="container px-4 mx-auto">
        <div class="flex justify-center">
            <div
                class="text-white-100 z-10 text-4xl font-oxanium font-bold relative text-center after:absolute after:-left-6 after:top-1/2 after:-translate-y-1/2 after:w-[84px] after:h-[84px] after:rounded-[50px] after:bg-[#E03054] after:z-[-1]"
            >
                Top Creators
            </div>
        </div>
        <div class="mt-[70px] grid grid-cols-1 gap-6 md:grid-cols-2">
            {{> profile-card/mob-profile-card}} {{> profile-card/mob-profile-card1}} {{>
            profile-card/mob-profile-card2}} {{> profile-card/mob-profile-card3}}
        </div>
        <div class="pt-[48px] flex justify-center items-center">
            <button
                class="py-[13px] px-[57px] leading-[35px] ring-1 min-w-[187px] ring-insert ring-primary text-white-100 font-semibold text-lg bg-transparent hover:ring-hover hover:bg-primary/20 transition-colors"
            >
                View All
            </button>
        </div>
    </div>
</section>
